/*Font Designer: Vernon Adams*/
/*https://fonts.google.com/specimen/Niconne*/
@import 'https://fonts.googleapis.com/css?family=Niconne';

#controls{
    display: inline-block;
    background: #333333;
    width: 20%;
    color: #eee;
    padding: 1em;
    text-align: left;
    top:0;
    padding-top: 0pt;
    padding-bottom: 0pt;
    max-height: 775pt;
    box-shadow: 5px 5px 50px #000;
}

.options {
    font-weight: bold;
    color: #ccffcc;
    width: 95%;
    margin: 0 auto;
}


.magicalColors{
    color: #b4e0e4;

}

.options li{
    list-style: none;
    padding: .3em;
    border-bottom: 1px #333 solid;
    position: relative;
    margin-left: -15%;
    text-indent: 1em;
}

.sliders{
    margin-left: 25pt;
    width: 39%;
    margin-top: -5pt;
}

#box{
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: 6pt;
}

.magicButton{
        
}

.magicButton ul{
    padding: 0;
/*    margin-top: 30%;*/
}

.options li:hover{
    cursor: pointer;
    background: #555;
    border-radius: 10pt;
    color: mediumpurple;
}

.magicButton li:hover {
    cursor: pointer;
    background: #555;
}

.selected{
    background: #555;
    border-radius: 10pt;
}

label{
    margin-left: 0pt;
}

#slider1{
    margin-left: 1em;
}

#slider2{
    margin-left: 2.2em;
}

#slider3{
    margin-left: .9em;
}


#title{
    position: relative;
    margin: 0 auto;
    margin-bottom: 5pt;
    height: 60pt;
    text-align: center;
}


#magical{
    font-family: 'Niconne';
    font-size: 40pt;
    letter-spacing: 2px;
    margin-top: 5pt;
    margin-right: 0pt;
    text-indent: -70pt;
}

#visual{
    text-indent: 140pt;
    margin-top: -63pt;
    font-size: 14pt;
}
h4{
    margin-top: 0;
    margin-bottom: 0;   
}

.magicButton{
    position: relative;
    margin: 0 auto;
    text-align: center;
    color: hotpink;
    font-family: 'Niconne';
    font-size: 20pt;
    letter-spacing: 2px;
    text-indent: 0;
    border-radius: 100%;
    border-width: 5pt;
/*    border-top: 1px #333 solid;*/
    border-style: solid;
    border-color: #555;
    width: 100pt;
    height: 100pt;
    margin-top: 21pt;
    margin-bottom: 10pt
}

.magicTheme{
    list-style: none;
    padding-top: 30pt;
    border-radius: 100%;
    margin-top: -22.5pt;
    margin-left: -2pt;
    width: 104pt;
    height: 75pt;
}

.changeTheme{
    font-family: Ariel, sans-serif;
    letter-spacing: 0;
    font-size: 18pt;
    color:floralwhite;
    list-style: none;
    padding-top: 35pt;
    border-radius: 100%;
    margin-top: -22.5pt;
    margin-left: -2pt;
    width: 104pt;
    height: 70pt;
}

h5{
    margin-bottom: 6pt;
    margin-top: 0pt;
    color: #555;
    font-size: 8pt;
}


@media screen and (max-width: 1505px){
    
    #controls{
        display: block;
        position: relative;
        margin: 0 auto;
        width: 677pt;
        margin-bottom: 20pt;
        margin-top: -5pt;
        padding-bottom: 30pt;
    }
    
    #magical{
        padding-top: 10pt;
    }
    
     #visual{
        margin-top: -65pt;
    }
    
    h4{
        margin-left: 20pt;
    }

    .options{
        position: relative;
        margin: 0 auto;
        margin-top: 10pt;
    }
    
    .options li{
        position: relative;
        margin: 0 auto;
        padding: 5pt 10pt;
        display: inline;
        margin-right: 10pt;
    }
    
    
    .modes li{
        width: 10ppt;
    }
    
    .effects{
        position: relative;
        width: 100%;
    }
    
    .sliders{
        margin-left: 32pt;
    }
    
    box{
        float: right;
    }
    .boxLabel{
        margin-right: 20pt;
    }
    
    .magicButton{
        position: relative;
        margin: 0 auto;
        margin-top: 30pt;
    }
    
    h5{
        margin-top: 30pt;
        margin-bottom: 0pt;
    }
}

@media screen and (max-width: 950px){
    #controls{
        width: 100%;
        padding: 0;
        padding-bottom: 100pt;
        margin-bottom: 0;
        padding-bottom: 20pt;
    }
    
    canvas{
        width: 100%;
        height: auto;
        position: relative;
        margin: 0 auto;
    }
    
    h4{
        margin-bottom: 0pt;
        margin-left: 10pt;
    }
    
    .options ul li{
        margin-left: -25pt;
    }
    .options li{
        display:block;
    }
}

@media screen and (max-width: 480px){
    #controls{
        margin-bottom: 0pt;
        box-shadow: none;
    }
    #magical{
        padding-top: 5pt;
        font-size: 26pt;
    }
    
     #visual{
        font-size: 12pt;
        text-indent: 90pt;
        margin-top: -45pt;
    }
    
    #title{
        position: relative;
        margin: 0 auto;
        margin-bottom: -5pt;
        height: 45pt;
        text-align: center;
    }
    
    .rowOne, .rowTwo{
        float: none;
        width: 100%;
    }
    
    .options{
        position: relative;
        margin: 0 auto;
        width: 95%;
    }
    
    .options li{
        margin-left: -5pt; 
    }
    
    
    .modes, .songs, .effects{
        position: relative;
        margin: 0 auto;
        width: 100%;
        border-style: none;
    }
    
    .songs, .modes{
        margin-bottom: 20pt;
        padding: 0;
    }
    
    .effects label{
        margin-left: 22pt; 
    }

    .boxLabel{
        margin-right: 0;
    }
    
    #box{
        position: relative;
        margin: 0 auto;
        width:100%;
    }
    
    .magicButton{
        position: relative;
        margin: 0 auto;
        margin-top: 20pt;
    }

    
    

}

